.todo-item {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
  padding: 35px 15px;
  border-bottom: 1px solid #f2f3f5;

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  &.completed {
    color: #999;
    & .todo-text {
      text-decoration: line-through;
    }
  }
}

.todo-item .check-box {
  display: flex;
  flex-shrink: 0;
  border: 2px solid #eee;
  margin-right: 20px;
  height: 28px;
  width: 28px;
  transition: background-color 0.2s, border-color 0.2s;

  i.material-icons {
    margin: auto;
    opacity: 0;
    color: #333;
    transition: opacity 0.2s;
    font-size: 20px;
  }
}

.todo-item:hover .check-box {
  background: #eee;

  i.material-icons {
    opacity: 0.28;
  }
}

.todo-item.completed .check-box {
  background: #0bdfaa;
  border-color: #0bdfaa;

  i.material-icons {
    opacity: 1;
    color: #fff;
  }
}

.todo-item .actions {
  position: absolute;
  top: 50%;
  right: 5px;
  display: flex;
  opacity: 0;
  transform: translate(5px, -50%);
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
}

.todo-item:hover .actions {
  opacity: 1;
  transition-delay: 0.4s;
  transform: translate(0, -50%);
}

.actions .button {
  display: flex;
  background: #f5f7f8;
  padding: 7px 10px;

  i.material-icons {
    color: #555;
    font-size: 20px;
  }

  &:hover {
    background: #eee;

    i.material-icons {
      color: #333;
    }
  }

  &:active {
    background: #e5e7e8;
  }

  &:first-of-type,
  &:last-of-type {
    border-top-right-radius: 7px;
  }
}

.actions .button.is-danger:hover i.material-icons,
.actions .button.is-danger:active i.material-icons {
  color: #bd2525;
}
